<div id="feedRate" data-bind="visible: FeedRateModel.isOperational()" class="navbar-text">
    <span>{{ _('F') }}: </span><span data-bind="text: feedSpeed()"></span><span data-bind="text: settings.settings.plugins.feedrate.displayUnits"></span>
</div>
